<h1>My Friend$</h1>
<p>Friends are like money, always there when you need them!</p>

<div class="search-form">
  <h3>Find your friends</h3>
  <%= form_tag search_friend_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-6 no-right-padding">
        <%= text_field_tag :friend, params[:friend], placeholder:"User email", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%# Following lines display the friends list only if the user has friends %>
<% if !@friends.empty? %>
  <%= render 'user_friends/list' %>
<% end %>
