<div class="stock-block">
  <%= render 'shared/messages' %>
</div>

<% if @friend %>
  <div class="card card-header stock-block main-stock-block">
    <span>Email:</span><%= @friend.email %>
    <span>First Name:</span><%= @friend.first_name %>
    <span>Last Name:</span><%= @friend.last_name %>
    <%= link_to 'Follow friend', '#', class: "btn btn-xs btn-success ml-2" %>
  </div>
<% end %>