<div class="stock-block">
  <%= render 'shared/messages' %>
</div>

<% if @friends %>
  <div class="card card-header stock-block main-stock-block">
      <table>
    <% @friends.each do |friend| %>
    <tbody>
        <tr>
          <td class="mr-2">
            <span>Name: </span><%= friend.full_name %>
          </td>
          <td class="mr-2">
            <span> Email: </span><%= friend.email %>
          </td>
          <td class="mr-2">
            <span> Actions: </span>
          </td>
          <td class="mr-2">
            <%= link_to 'Visit Profile', '#', class: 'btn btn-xs  btn-success ml-2' %>
          </td>
            <td class="mr-2">
          <% if current_user.not_friends_with?(friend.id) %>
              <%= link_to 'Follow friend', friendships_path(friend: friend.id), class: 'btn btn-xs btn-success ml-2', method: :post %>
          <% else %>
            <span class="badge badge-secondary">You are friends already</span>
          <% end %>
            </td>
        </tr>
    </tbody>
    <% end %>
      </table>
  </div>
<% end %>